name: Daily Update

on:
  schedule:
    - cron: '0 7 * * *' # 日本時間の16:00に実行
  workflow_dispatch:      # 手動で今すぐ実行するためのボタン

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install libraries
        run: pip install yfinance matplotlib pandas openpyxl beautifulsoup4 requests

      - name: Run script
        run: python update_chart.py

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add nikkei_chart.png
          git commit -m "Update chart" || exit 0
          git push
